<div class="root">
    <div  class="p-d-flex p-jc-center p-ai-center">
    <!-- <p-card [style]="uStyles.uiCard"> -->
    <p-card class="ui-not-found-card">
    <!-- <p-card [style]="{'width': '20rem', 'margin-top': '8em', 'background-color': 'red'}"> -->
        <div class="p-mb-2 card">
             <div class='t-center'>
                <h1 class="text-bold">404</h1>
            </div>
            <div class='t-center'>
                <p class="lead">Страница не найдена.</p>
            </div>
        </div>
    </p-card>
    </div>
</div>

