@import '../../../styles.scss';

.root {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darkgrey;
}

.t-center {
    text-align: center;
}

::ng-deep {
    .ui-not-found-card .p-card {
        margin-top: 5rem;
        width: 20rem;
        background-color: #fdeded;
    }
}
