::ng-deep {

}

// .ui-name-region {
//     // overflow: hidden;
// }

.ui-icon-clickable {
    cursor: pointer;
}

.ui-icon-clickable:hover {
    color: #5ada10;
}

.ui-col-idx {
    cursor: pointer;
    text-align: center !important;
    padding: 0 !important;
}

.ui-col-idx>p {
    font-size: 10px;
    padding: .2rem !important;
    margin: 0 !important;
}
