<p-contextMenu #cm [model]="items"></p-contextMenu>

<p-table
    id="ui-new-svtable"
    [columns]="svtable.cols"
    [value]="svtable.rows"
    styleClass="p-datatable-gridlines p-datatable-sm"
    [resizableColumns]="true"
    columnResizeMode="expand"
    [(contextMenuSelection)]="selectedCol" [contextMenu]="cm" dataKey="code"
>
    <ng-template pTemplate="caption">
        <input type="text" pInputText [(ngModel)]="svtable.name"/>
        <button pButton type="button" label="show table" class="p-button-help" (click)="showTable()"></button>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th width="145px" rowspan="2">Наименование района</th>
            <th pResizableColumn *ngFor="let col of columns">
                <input type="text" pInputText [(ngModel)]="col.header"/>
            </th>
            <th width="30px" rowspan="2">
                <i class="pi pi-plus ui-icon-clickable" (click)="addColumnToTheEnd()"></i>
            </th>
        </tr>
        <tr>
            <th
                [pContextMenuRow]="col.idx"
                pResizableColumn
                class="ui-col-idx"
                *ngFor="let col of columns"
            >
                <p>{{'C' + col.idx}}</p>
            </th>
        </tr>
    </ng-template>

    <!-- TO DO: SHOW ONLY ONE LINE (it's better)-->
    <!-- <ng-template pTemplate="body" let-columns="columns">
        <tr>
            <td style="font-weight: 600;">Район</td>
            <td *ngFor="let col of columns">
                <input *ngIf="col.type === 'value'" type="text" pInputText [(ngModel)]="rowData.data[col.idx]"/>
            </td>
            <td></td>
        </tr>
    </ng-template> -->

    <!-- SHOW WITH ALL REGIONS -->
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td style="font-weight: 600;">{{rowData.data[0]}}</td>
            <td *ngFor="let col of columns">
                <input type="text" pInputText [(ngModel)]="rowData.data[col.idx]"/>
            </td>
            <td></td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">

    </ng-template>
</p-table>
