::ng-deep {
    .ui-in-add-new-u-btn.p-button.p-button-success {
        margin-top: 1.2rem;
        margin-left: .5rem;
        margin-bottom: 2rem;
    }

    .ui-in-add-new-u .p-dropdown {
        width: 18.6rem;
    }
}
