::ng-deep {

    #ui-new-svtable .p-datatable-header {
        display: flex;
    }

    .p-datatable-scrollable-view.p-datatable-frozen-view .p-datatable-scrollable-header-table .ng-star-inserted .ng-star-inserted:first-child .zx {
        display: none;
    }

    .p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
        padding: 0.1rem;
    }
}

.ui-tadd-btngroup {
    margin-left: auto;
}
.ui-tadd-btngroup> button {
    margin-right: 1rem;
}

.ui-icon-clickable {
    cursor: pointer;
}

.ui-icon-clickable:hover {
    color: #5ada10;
}

.ui-col-idx {
    cursor: pointer;
    text-align: center !important;
    padding: 0 !important;
}

.ui-col-idx:hover {
    background-color: lightblue;
}

.ui-col-idx>p {
    // font-size: 10px;
    padding: .2rem !important;
    margin: 0 !important;
}

.ui-add-t-input-header {
    width: 100%;
}

.ui-add-t-name-header {
    padding: 9px 0;
    margin: 0;
}

.ui-add-t-input-data {
    width: 100%;
}

.ui-add-t-name-body {
    padding: 7px 0;
    margin: 0;
}

.ui-edit-formul {
    padding-left: 5px;
    cursor: pointer;
    font-size: small;
}

.ui-edit-formul:hover {
    color: #ff0000;
}
