<p-contextMenu #cm [model]="items"></p-contextMenu>

<p-table
    id="ui-new-svtable"
    [columns]="svtable.cols"
    [value]="svtable.rows"
    styleClass="p-datatable-gridlines p-datatable-sm"
    [resizableColumns]="true"
    columnResizeMode="expand"
    [(contextMenuSelection)]="selectedCol" [contextMenu]="cm" dataKey="code"
    [frozenColumns]="frozenCols" [scrollable]="true" scrollHeight="{{(screenHeight-390)+'px'}}" frozenWidth="145px"
>
    <ng-template pTemplate="caption">
        <span class="p-float-label" [style]="{width: '50%'}">
            <input id="uiloat-input" type="text" pInputText [(ngModel)]="svtable.name" [style]="{width: '100%'}" />
            <label for="uiloat-input">Название таблицы</label>
        </span>

        <div class="ui-tadd-btngroup">
            <button pButton icon="pi pi-times" type="button" label="Удалить" class="p-button-danger" [style]="{'margin-right': '4rem'}" (click)="removeOne()"></button>
            <button pButton icon="pi pi-save" type="button" label="Сохранить" (click)="onSubmit()"></button>
            <button pButton icon="pi pi-times" type="button" label="Отмена" class="p-button-secondary" (click)="cancelChanges()"></button>
        </div>
    </ng-template>

    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" style="width:145px">
        </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr *ngFor="let extHRow of svtable.exth; let y=index">
            <th *ngFor="let extH of extHRow; let x=index" [attr.colspan]="extH.colspan">
                <section class="zx">
                    <input type="text" pInputText [(ngModel)]="extH.value" [ngStyle]="{'width': '80%', 'margin-right': '0.5rem'}" />
                    <i *ngIf="extH.colspan > 1" class="pi pi-chevron-left" (click)="extHColToLeft(y, x)"></i>
                    <i *ngIf="x !== extHRow.length-1" class="pi pi-chevron-right" (click)="extHColToRight(y, x)"></i>
                </section>
            </th>
        </tr>
        <tr>
            <th pResizableColumn *ngFor="let col of columns">
                <input *ngIf="col.type !== 'name'" type="text" pInputText [(ngModel)]="col.header" class="ui-add-t-input-header" />
                <p *ngIf="col.type === 'name'" class="ui-add-t-name-header">{{col.header}}</p>
            </th>
        </tr>
        <tr>
            <th
                [pContextMenuRow]="col.idx"
                pResizableColumn
                class="ui-col-idx"
                *ngFor="let col of columns"
            >
                <p [ngStyle]="{'background-color': col.type === 'formula' || col.type === 'norm' || col.type === 'percentage'? '#ffdede' : 'inherit'}">
                    {{utilsService.numberToLetter(col.idx)}}
                </p>
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <span *ngIf="col.type === 'formula' || col.type === 'percentage'">
                    <label class="ui-add-t-name-body" *ngIf="col.type === 'formula'">f = </label>
                    <label class="ui-add-t-name-body" *ngIf="col.type === 'percentage'">% = </label>
                    <input
                        pInputText
                        [disabled]="true"
                        type="text" pInputText
                        [(ngModel)]="rowData.data[col.idx]"
                        class="p-inputtext-sm"
                        [ngStyle]="{'width': '65%'}"
                    />
                    <i class="pi pi-pencil ui-edit-formul" (click)="setFormula(col.type, col.idx, rowData.data[col.idx])"></i>
                </span>
                <span *ngIf="col.type === 'perday'" class="ui-perday-flex">
                    <label class="ui-add-t-name-body-small">Сег</label>
                    <input
                        pInputText
                        [disabled]="true"
                        type="text" pInputText
                        [(ngModel)]="rowData.data[col.idx].split(':')[0]"
                        class="p-inputtext-sm"
                        [ngStyle]="{'width': '20%'}"
                    />
                    <label class="ui-add-t-name-body-small" [ngStyle]="{'padding-left': '0.2rem'}"> - вчер</label>
                    <input
                        pInputText
                        [disabled]="true"
                        type="text" pInputText
                        [(ngModel)]="rowData.data[col.idx].split(':')[1]"
                        class="p-inputtext-sm"
                        [ngStyle]="{'width': '20%'}"
                    />
                    <i class="pi pi-pencil ui-edit-formul" (click)="setFormula(col.type, col.idx, rowData.data[col.idx])"></i>
                </span>
                <input
                    *ngIf="col.type === 'value' || col.type === 'norm'"
                    type="text" pInputText
                    [(ngModel)]="rowData.data[col.idx]"
                    class="ui-add-t-input-data p-inputtext-sm"
                />
                <p *ngIf="col.type === 'name'" class="ui-add-t-name-body">{{rowData.data[col.idx]}}</p>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">

    </ng-template>
</p-table>
