<div class="root">
    <div class="page">
        <!-- HEADER -->
        <app-header></app-header>

        <div>

            <p-table [value]="reg" styleClass="p-datatable-gridlines p-datatable-sm">
                <ng-template pTemplate="caption">
                    Информация об уборке кукурузы (зерновая группа)
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Наименование районов</th>
                        <th>Наличие кок-6(8)</th>
                        <th>Работ агрег кок-4,2</th>
                        <th>Выр. на 1 агрегат. Га</th>
                        <th>Заплющ. зерна, тн</th>
                        <th>в т. ч. за день</th>
                        <th>Налич. плющ, шт </th>
                        <th>в т.ч. в рукав</th>
                        <th>Кол работ-х плющ.</th>
                        <th>Выр. на плющ, тн</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-reg>
                    <tr>
                        <td style="font-weight: 600;">{{reg.name}}</td>
                        <td>{{reg.a}}</td>
                        <td>{{reg.b}}</td>
                        <td>{{reg.c}}</td>
                        <td>{{reg.e}}</td>
                        <td>{{reg.f}}</td>
                        <td>{{reg.g}}</td>
                        <td>{{reg.h}}</td>
                        <td>{{reg.k}}</td>
                        <td>{{reg.l}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">

                </ng-template>
              </p-table>

        </div>
    </div>
</div>
