::ng-deep {

    .p-button.in-edit-page.p-button-success {
        margin-top: 1rem;
        margin-left: .6rem;
    }

    .in-edit-page .p-dropdown {
        width: 18.6rem;
    }

    .p-button.in-edit-page.p-button-danger {
        margin-top: 1rem;
        margin-left: 4rem;
    }
}
